footer.footer {
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  box-shadow: 0 3px 2px -2px rgba(200,200,200,0.2);
  .internal-links {
    @include mq(sm) {
      display: flex;
      justify-content: center;
      li:not(:last-child) {
        a {
          border-right: 2px solid white;
        }
      }
    }
    a {
      padding: 0 .5em;
      &.active {
        color: #2f392d;
      }
    }
  }
  .contact-list {
    a:hover {
      .icon {
        opacity: .5;
        -moz-transition: opacity .2s ease-in;
        -o-transition: opacity .2s ease-in;
        -webkit-transition: opacity .2s ease-in;
      }
    }
  }
  .copyright-row {
    .left-cell {
      text-align: center;
      @include mq(md) {
        text-align: left;
      }
    }
    .right-cell {
      text-align: center;
      @include mq(md) {
        text-align: right;
      }
    }
  }
  .icon {
    background-repeat: no-repeat;
    background-size: auto;
    width: 2em;
    height: 2em;
    position: absolute;
    margin-top: .25em;
    -moz-transition: opacity .2s ease-in;
    -o-transition: opacity .2s ease-in;
    -webkit-transition: opacity .2s ease-in;
    &.icon-phone {
      background-image: url("../assets/icons/phone-icon.png");
      margin-left: -1.75em;
    }
    &.icon-envelope {
      background-image: url("../assets/icons/envelope-icon.png");
      margin-left: -2.5em;
    }
  }
}

.footer-logo {
  background-size: contain;
  width: 5em;
  background-repeat: no-repeat;
  margin: 2em auto;
}


