.navbar {
  background: #fff;
  width: 100%;
  z-index: 99;
  flex-direction: column;
  padding: 0 1rem;
  .container {
    flex-direction: column !important;
  }
  .dropdown {
    flex-direction: column;
  }
  .dropdown-menu {
    border: none;
    box-shadow: none;
    @include mq(lg) {
      border: 1px solid #ddddddf2;
      box-shadow: 0 3px 2px -2px rgba(200, 200, 200, 0.3);
    }
    @include mq(xl) {
      left: 1.25em;
      border-radius: 0;
    }
    .dropdown-item {
      text-align: center;
      @include mq(lg) {
        text-align: left;
      }
    }
  }
  .social-icons {
    display: none;
    position: absolute;
    z-index: 99;
    left: 4em;
    top: 2em;
    @include mq(lg) {
      display: inherit;
    }
    .icon {
      margin: 0 .25em;
      -moz-transition: filter .2s ease-in;
      -o-transition: filter .2s ease-in;
      -webkit-transition: filter .2s ease-in;
      &:hover {
        filter: brightness(110%);
        -moz-transition: filter .2s ease-in;
        -o-transition: filter .2s ease-in;
        -webkit-transition: filter .2s ease-in;
      }
    }
  }
  .navbar-nav {
    margin-top: -1em;
  }
  .nav-link {
    padding: 1rem;
  }
  .nav-item {
    display: flex;
    justify-content: center;
    justify-self: center;
    font-size: 1em;
    letter-spacing: 3px;
    @include mq(xl) {
      font-size: 1.25em;
      padding-right: 1rem;
      padding-left: 1rem;
    }
  }
  .nav-shadow {
    opacity: 0;
    background-size: contain;
    background-image: url(../assets/utilities/nav-shadow.png);
    width: 33px;
    height: 8px;
    margin-top: 44px;
    position: absolute;
    background-repeat: no-repeat;
    -moz-transition: opacity .2s ease-in;
    -o-transition: opacity .2s ease-in;
    -webkit-transition: opacity .2s ease-in;
  }
  .navbar-toggler {
    position: absolute;
    right: 1em;
    top: .5em;
  }
  .dropdown-toggle {
    display: flex;
    justify-content: center;
    justify-self: center;
  }
  .dropdown-toggle::after {
    margin-top: 0.65em;
    @include mq(md) {
      margin-top: 0.6em;
    }
  }
  .nav-link:hover + .nav-shadow {
    opacity: 1;
    -moz-transition: opacity .2s ease-in;
    -o-transition: opacity .2s ease-in;
    -webkit-transition: opacity .2s ease-in;
  }
  .navbar-brand {
    padding: 1em 0 0 0;
    margin: 0;
    img {
      width: 6em;
      @include mq(xl) {
        width: 8em;
      }
    }
  }
  .icon {
    background-size: contain;
    width: 2em;
    height: 2em;
    background-repeat: no-repeat;
  }
}

@media only screen and (min-width:769px) {
  .dropdown:hover .dropdown-menu {
    display: block;
    margin: 0;
  }
  .dropdown-submenu {
    position: relative !important;
  }
  .dropdown-submenu>.dropdown-menu {
    top: 0 !important;
    left: 100% !important;
    margin-top: -6px !important;
    margin-left: -1px !important;
    border-radius: 0 !important;
  }
  .dropdown-submenu:hover>.dropdown-menu {
    display: block !important;
  }
  .dropdown-submenu>a:after {
    display: block;
    content: "\f105";
    font-family: 'FontAwesome';
    margin-top: -18px;
    right: 15px;
    position: absolute;
    font-weight: 300;
  }
}