.animated-banner {
  position: relative;
  height: 25em;
  @include mq(sm) {
    height: 27em;
  }
  @include mq(md) {
    height: 33em;
  }
}


.girl {
  background: url(../assets/Layers/girl-flying.png) no-repeat;
  height: 270px;
  position: absolute;
  margin-left: 0;
  top: 45%;
  max-width: 35em;
  transform: translateZ(0);
  background-size: contain;
  z-index: 9999;
  width: 20em;
  @include mq(sm) {
    width: 22.5em;
  }
  @include mq(md) {
    width: 25em;
  }
  @include mq(lg) {
    width: 27.5em;
  }
  @include mq(xl) {
    width: 30em;
  }
  -webkit-filter: drop-shadow(5px 5px 5px unquote('#2222222e'));
  filter: drop-shadow(5px 5px 5px unquote('#2222222e'));
}

.text {
  text-align: center;
  line-height: 1em;
  align-self: center;
  width: 40%;
  font-size: 4em;
  margin-left: -1.3em;
  margin-top: -1.3em;
  @include mq(sm) {
    width: 35%;
    font-size: 4.5em;
  }
  @include mq(md) {
    width: 30%;
    font-size: 5em;
  }
  @include mq(lg) {
    width: 25%;
    font-size: 5.5em;
  }
  @include mq(xl) {
    font-size: 6em;
    width: 18%;
  }
}

.foreground, .midground, .background {
  position: absolute;
  width: 100%;
  height: 31em;
  @include mq(sm) {
    height: 35em;
  }
  @include mq(md) {
    height: 36em;
  }
  @include mq(lg) {
    height: 37em;
  }
  @include mq(xl) {
    height: 38em;
  }
  top: 0;
  left: 0;
  transform: translate3d(0, 0, 0);
}

.foreground {
  animation: parallax_fg linear 10s infinite both;
  background: url(../assets/Layers/foreground.png) 0 100% repeat-x;
  z-index: 3;
}

@keyframes parallax_fg {
  0% {
    background-position: 0 100%;
  }
  100% {
    background-position: -3584px 100%;
  }
}

.midground {
  display: flex;
  flex-direction: row;
  justify-content: center;
  vertical-align: -webkit-baseline-middle;
  background: url(../assets/Layers/speech-bubble.png) 50% 50% no-repeat;
  z-index: 2;
  background-size: 340px;
  top: 6%;
  @include mq(md) {
    background-size: 480px;
    top: 0%;
  }
}

@keyframes parallax_mg {
  0% {
    background-position: 0 100%;
  }
  100% {
    background-position: -3000px 100%;
  }
}

.background {
  top: -9em;
  background-image: url(../assets/Layers/background_mountain5.png),
  url(../assets/Layers/background_mountain4.png),
  url(../assets/Layers/background_mountain3.png),
  url(../assets/Layers/background_mountain2.png),
  url(../assets/Layers/background_mountain1.jpg);
  background-repeat: repeat-x;
  background-position: 0 100%;
  z-index: 1;
  animation: parallax_bg linear 40s infinite;
}

@keyframes parallax_bg {
  100% {
    background-position-x: -2400px, -2000px, -1800px, -1600px, -1200px;
  }
}

.bg-image-full {
  border: 1px solid #efefef;
  border-radius: 4px;
  border-bottom: 1px solid #e2e2e2;
  height: 15em;
  @include mq(sm) {
    height: 17em;
  }
  @include mq(md) {
    height: 21em;
  }
  @include mq(lg) {
    height: 100%;
  }
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}