.blogs {
  .card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    @include mq(lg) {
      width: 20rem;
    }
  }
  .card-img {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .card-title {
    margin-bottom: 0.3rem;
  }
  .cat {
    display: inline-block;
    margin-bottom: 1rem;
  }
  .fa-users {
    margin-left: 1rem;
  }
  .card-footer {
    font-size: 0.8rem;
  }
  .upgrade-light {
    letter-spacing: 1px;
  }
}

.blog-card {
  .read-btn {
    position: absolute;
  }
  .card-footer {
    padding-top: 2em;
  }
}


.card-img {
  height: 100%;
  object-fit: cover;
}

.box-container {
  .container-fluid {
    box-shadow: 0 3px 2px -2px rgba(200, 200, 200, 0.2);
  }
  .row {
    align-items: center;
  }
  .stripe {
    height: 19em;
    background: transparentize($blue, 0.5);
  }
  p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  img {
    height: 17em;
    border-radius: 0;
  }
  .trasparent-blue-bg {
    background: transparentize($blue, 0.5);
  }

}

.blog-post {
  img {
    width: 100%;
    height: 21em;
    object-fit: cover;
  }
}



