.bordered-box {
  display: flex;
  justify-content: space-between;
  padding: 0;
  h2 {
    text-align: center;
    font-size: 1.5rem;
    @include mq(md) {
      font-size: 2rem;
    }
  }
  .image {
    background-size: cover;
    width: 42em;
    margin: 6px;
    height: 11em;
    float: right;
  }
  .text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2em;
    @include mq(md) {
      padding: 0 0 0 2em;
      align-items: flex-start;
    }
  }

  p {
    font-size: 1em;
    width: 100%;
    @include mq(lg) {
      width: 90%;
    }
  }
  .button {
    font-size: 1.25em;
    padding: .25em 1.25em;
    margin-bottom: 0.5em;
  }
  &.bordered-box--right {
    @include mq(md) {
      flex-direction: row-reverse;
    }
    .text-container {
      p {
        @include mq(md) {
          text-align: right;
        }
      }
      @include mq(md) {
        align-items: flex-end;
      }

      @include mq(md) {
        padding: 0 2em 0 0;
      }
    }
  }
}