.bubble-box {
  margin: 1em 0;
  border: 1px solid #efefef;
  border-radius: 4px;
  border-bottom: 1px solid #e2e2e2;
  .text-container {
    padding-bottom: 2em;
  }
  .image {
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 11em;
  }
  .bubble-illustration {
    width: 10em;
    margin: 0 auto;
    height: 9em;
    font-size: 1.35em;
    @include mq(md) {
      font-size: 1.35em;
    }
    @include mq(lg) {
    }
  }
  h2 {
    font-size: 4em;
    line-height: 46px;
  }
  p {
    font-size: 1.1em;
    font-weight: 200;
    padding: 1em 3em;
  }
  .button {
    font-size: 1.25em;
    padding: .25em 1.5em;
  }
}