.contact-form {
  .contact-box {
    border: 1px solid #efefef;
    border-radius: 4px;
    border-bottom: 1px solid #e2e2e2;
  }
  .image {
    display: flex;
    text-align: center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 10em;
    height: 10em;
    .box-text {
      display: flex;
      justify-content: center;
      align-self: center;
      width: 100%;
      font-size: 1.5em;
      margin-top: -.5em;
    }
  }
  textarea {
    width: 100%;
    height: 10em;
    border: none;
    padding-left: 12px;

  }
  button {
    margin: 0 auto;
    display: flex;
  }
  button,
  input,
  textarea {
    font-size: 1.2em;
    border-radius: 0;
  }
  form {
    padding-left: 1rem;
    padding-right: 1rem;
    @include mq(lg) {
      padding-left: 3rem;
      padding-right: 3rem;
    }
  }
}