.illustration-bubble-box-container {
  .box {
    border: 1px solid #efefef;
    border-radius: 4px;
    border-bottom: 1px solid #e2e2e2;
  }
  .button {
    position: absolute;
    right: 2em;
    bottom: 2em;
    padding: 0.5em 2em;
    color: grey;
  }
  p {
    width: 80%;
    margin-left: 10%;
    font-size: 1.1em;
  }
  h2 {
    font-size: 1.5em;
    @include mq(md) {
      font-size: 1.75em;
    }
    @include mq(xl) {
      font-size: 2em;
    }
  }
}

.bubble-illustration {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-repeat: no-repeat;
  width: 50%;
  margin-left: 25%;
  height: 9em;
  @include mq(sm) {
    height: 12em;
  }
  @include mq(md) {
    width: 70%;
    margin-left: 15%;
   }
  @include mq(lg) {
    width: 50%;
    margin-left: 25%;
  }
  background-size: 100% 100%;
}

.box-illustration {
  width: 15em;
  height: 11em;
  @include mq(sm) {
    width: 19em;
    height: 14em;
  }
  z-index: 999;
  background-repeat: no-repeat;
  background-size: 100%;
}

