.large-horizontal-box {
  .row {
    border: 1px solid #efefef;
    border-radius: 4px;
    border-bottom: 1px solid #e2e2e2;
  }
  .image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  p {
    width: 70%;
    margin-left: 15%;
    font-size: 1em;
  }
  .button {
    padding: .5em 2em;
    margin: 1em 0;
  }
  .text-container {
    padding: 2em;
  }
}