.quote-box {
  hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .first-cell {
    border-right: none;
    border-bottom: 1px solid #80808052;
    @include mq(md) {
      border-bottom: none;
      border-right: 1px solid #80808052;
    }
  }
  .cell {
    p {
      font-size: 1em;
      padding: .5em;
      @include mq(md) {
      font-size: 1.2rem;
        padding: 0 1em;
      }
    }
  }
}