h2.hr {
  font-size: 1.25em;
  font-weight: 400;
  display: table;
  white-space: nowrap;
  line-height: .8em;
  &:before, &:after {
    font-size: 1em;
    line-height: 1em;
    border-top: 1px solid $grey;
    content: '';
    display: table-cell;
    position: relative;
    top: 0.5em;
    width: 50%;
  }
  &:before {
    right: 1.5%;
  }
  &:after {
    left: 1.5%;
  }
}

.testimonial-box {
  p {
    padding: 1em;
    @include mq(lg) {
      padding: 1em 9em;
    }
  }
}