.thin-horizontal-box {
  border: 1px solid #efefef;
  border-radius: 4px;
  border-bottom: 1px solid #e2e2e2;
  margin: 1rem 0 !important;
  @include mq(md) {
    margin: 2rem 0 !important;
  }
  @include mq(lg) {
    margin: 3rem 0 !important;
  }
  display: flex;
  justify-content: space-between;
  .button {
    padding: 0.25em 2em;
  }
  .image {
    background-size: cover;
    width: 21em;
    margin: 6px;
    height: 11em;
    float: right;
  }
  .text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2em;
    @include mq(md) {
      padding: 0 0 0 3em;
      align-items: flex-start;
    }
  }
  p {
    font-size: 1em;
    font-weight: 500;
    width: 90%;
    text-align: center;
    @include mq(md) {
      text-align: left;
    }
  }
  h2 {
    font-size: 1.75em;
    width: 90%;
    text-align: center;
    font-weight: 700;
    @include mq(md) {
      font-size: 2em;
      width: 100%;
      text-align: left;
    }
  }
}