.upgrade-semibold {
  font-family: upgrade, sans-serif;
  font-weight: 500;
  font-style: normal;
}

.upgrade-regular {
  font-family: upgrade, sans-serif;
  font-weight: 300;
  font-style: normal;
}

.upgrade-light {
  font-family: upgrade-lights, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.boho-script {
  font-family: 'BohoScript', Fallback, sans-serif;
  font-weight: 300;
  font-style: normal;
}

.baskerville {
  font-family: 'Baskerville', Fallback, sans-serif;
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'BohoScript';
  src: url('../assets/Fonts/Boho-Script-Drop-Bold.eot');
  /* IE9 Compat Modes */

  src: url('../assets/Fonts/Boho-Script-Drop-Bold.eot?#iefix') format('embedded-opentype'),
  /* IE6-IE8 */

  url('../assets/Fonts/Boho-Script-Drop-Bold.woff') format('woff'),
  /* Pretty Modern Browsers */

  url('../assets/Fonts/Boho-Script-Drop-Bold.ttf') format('truetype'),
  /* Safari, Android, iOS */

  url('../assets/Fonts/Boho-Script-Drop-Bold.svg#svgFontName') format('svg');
  /* Legacy iOS */
}

@font-face {
  font-family: 'Baskerville';
  src:  url('../assets/Fonts/Baskerville-BT.ttf') format('truetype');
}

h1 {
  letter-spacing: 3px;
  font-size: 2em;
}

p {
  font-size: 1.2em;
}