$cherry: #610F23;
$white: #fff;
$black: #000;

$blue: #668890;
$dark-blue: darken(#668890, 10%);
$yellow: #E2B32E;
$green: #A1D784;
$light-grey: #e8e9e9;
$grey: #cccdcd;
$dark-grey: #AEAFAC;
$beige: #E8E5D9;



$four-colors: (orange, yellow, blue, green);

// colors set array
// TODO - TOPONDER Is there a way to merge the array with the values?
$colors: (
        white: $white,
        white-hover: darken($white, 24%),
        black: $black,
        black-hover: lighten($black, 10%),
        cherry: $cherry,
        cherry-hover: lighten($cherry, 10%),
        blue: $blue,
        blue-hover: lighten($blue, 10%),
        dark-blue: $dark-blue,
        dark-blue-hover: lighten($dark-blue, 10%),
        yellow: $yellow,
        yellow-hover: lighten($yellow, 10%),
        green: $green,
        green-hover: lighten($green, 10%),
        light-grey: $light-grey,
        light-grey-hover: darken($light-grey, 15%),
        grey: $grey,
        grey-hover: darken($grey, 76%),
        dark-grey: $dark-grey,
        dark-grey-hover: darken($dark-grey, 10%),
        beige: $beige,
        beige-hover: darken($beige, 10%)
);

//layout breakpoints
$xs: 576px;
$sm: 577px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

$breakpoints: (
        xs: 576px,
        sm: 577px,
        md: 768px,
        lg: 992px,
        xl: 1200px
);